.w3-right{
  margin-right: 10px;
}










/*body {
  
  background-image: url("/assets/Klife.png");

  min-height: 1000px;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
}


.container-fluid {
  position: absolute;
  margin: 10px;
  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 13, 13);
  color: white;
  text-align: center;
}
*/