<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>Mentor</b> On Demand</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
           <a routerLink="/aboutus" class="w3-bar-item w3-button">About Us</a>
      <a routerLink="/contactus" class="w3-bar-item w3-button">Contact</a>
      <!--<div class="w3-dropdown-hover">
    <button class="w3-button">Login</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/signin" class="w3-bar-item w3-button">User Login</a>
      <a href="/mentorlogin" class="w3-bar-item w3-button">Mentor Login</a>
      <a href="/adminlogin" class="w3-bar-item w3-button">Admin Login</a>
    </div>
  </div>

-->
      <!--<a href="/login" class="w3-bar-item w3-button">Login</a> -->
<div class="w3-dropdown-hover">
  <button class="w3-button">Login</button>
  <div class="w3-dropdown-content w3-bar-block w3-border">
    <a href="/signin" class="w3-bar-item w3-button">User</a>
    <a href="/mentorlogin" class="w3-bar-item w3-button">Mentor</a>
    <a href="/adminlogin" class="w3-bar-item w3-button">Admin</a>
  </div>
</div>

     
    </div>

  </div>
</div>



  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Mentor-OnDemand is a knowldegable site where you can search your courses and particular mentor of your own choice.So be ready for fum learning....
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/assets/akshay.png" alt="Akshay" style="width:100%">
      <h3>Akshay Kumar</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Love your Life. </p><br>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/assets/akshay.png" alt="Vilas" style="width:100%">
      <h3>Vilas</h3>
      <p class="w3-opacity">Trainer</p>
      <p>14 years of experience in the field of Coding.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    
  </div>


  
  
<!-- Image of location/map -->


<!-- End page content -->



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Presented by <a href="" title="W3.CSS" target="_blank" class="w3-hover-text-green">Akshay</a></p>
</footer>

</body>
</html>
