 <!DOCTYPE html>

 <html lang="en">
 
 <head>
     <meta charset="utf-8" />
     <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
     <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     <title>Klife</title>
     <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
     <!--     Fonts and icons     -->
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
     <!-- CSS Files -->
     <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
     <link href="/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
     <link href="/assets/css/demo.css" rel="stylesheet" />
 </head>
 <style>
    p{
    color: black;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 6px);
}
.form-control{
  border-radius: 35px;
}
button{
    margin-left: 40%;
}
</style>
  <body>
     <div class="wrapper">
         <div class="sidebar">
            
             <div class="sidebar-wrapper" style="background-image: url(/assets/img/sidebar-5.jpg);">
                 <div class="logo">
                     <a routerLink="" class="simple-text">
                         Klife
                     </a>
                 </div>
                 <ul class="nav">
                     <li class="nav-item active">
                         <a class="nav-link" routerLink="/userdashboard">
                             <i class="nc-icon nc-chart-pie-35"></i>
                             <p>Dashboard</p>
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" routerLink="/userprofile">
                             <i class="nc-icon nc-circle-09"></i>
                             <p>User Profile</p>
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" routerLink="/skills">
                             <i class="nc-icon nc-notes"></i>
                             <p>Skills List</p>
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" routerLink="/payments">
                             <i class="nc-icon nc-paper-2"></i>
                             <p>Payment History</p>
                         </a>
                     </li>
                     <li>
                         <a class="nav-link" routerLink="/technologys">
                             <i class="nc-icon nc-atom"></i>
                             <p>Technology</p>
                         </a>
                     </li>
                     
                     
                 </ul>
             </div>
         </div>
         <div class="main-panel">
             <!-- Navbar -->
             <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                 <div class="container-fluid">
                     <a class="navbar-brand" href="#pablo"> Dashboard </a>
                     <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-bar burger-lines"></span>
                         <span class="navbar-toggler-bar burger-lines"></span>
                         <span class="navbar-toggler-bar burger-lines"></span>
                     </button>
                     <div class="collapse navbar-collapse justify-content-end" id="navigation">
                         <ul class="nav navbar-nav mr-auto">
                             <li class="nav-item">
                                 <a routerLink="#" class="nav-link" data-toggle="dropdown">
                                     <span class="d-lg-none">Dashboard</span>
                                 </a>
                             </li>
                             
                            
                         </ul>
                         <ul class="navbar-nav ml-auto">
                             <li class="nav-item">
                                 <a class="nav-link" routerLink="/searchtraining/">
                                     <span class="no-icon">Search Mentor</span>
                                 </a>
                             </li>
                             
                             <li class="nav-item">
                                 <a class="nav-link" routerLink="/signin">
                                     <span class="no-icon">Log out</span>
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </nav>            <!-- Navbar -->
            
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        
 <h4>Search Training</h4>
        <div class="col-md-6"  style="margin-left: 30%;">
            <h6 class="text-center">Search For Courses</h6>
     <form class="form-signin">
                <label for="SearchTraining" class="sr-only">Search Training</label>
        <select class="form-control" [(ngModel)]="training.technology.techName" name="trainingName">
                  <option [ngValue]="undefined" selected disabled>Search</option>
            <option *ngFor="let train of trainings;">{{train.technology.techName}}</option>

                  

                </select>
                <br>
                <label for="startDate" class="sr-only">Start Date</label>
                <input type="date" value="1990-01-01" [(ngModel)]="training.startDate" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name="startDate" id="startDate" class="form-control" placeholder="Start Date">
                <br>
                <label for="endDate" class="sr-only">End Date</label>
                <input type="date" value="1990-01-01" name="endDate" id="endDate" [(ngModel)]="training.endDate" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" placeholder="StartDate">
                <br>
                <button class="btn btn-success" (click)="check(training.startDate, training.endDate, training.technology.techName)" style="text-align: center;">Search</button>
            </form>  
      </div>

           
</div>
</div>
</div>
</div>


<footer class="footer">
                 <div class="container-fluid">
                     <nav>
                         <ul class="footer-menu">
                             <li>
                                 <a href="/klife">
                                     Home
                                 </a>
                             </li>
                             <li>
                                 <a href="/abotus">
                                     About Us
                                 </a>
                             </li>
                             <li>
                                 <a href="/contactus">
                                     Contact Us
                                 </a>
                             </li>
                             
                         </ul>
                         <p class="copyright text-center">
                             ©
                             <script>
                                 document.write(new Date().getFullYear())
                             </script>
                             <a href="/klife">Klife</a>, made with love for a better web
                         </p>
                     </nav>
                 </div>
             </footer>
         </div>
     </div>
     
 </body>
 </html>
 