
.bg-img
{
           background-image: url("/assets/back.png");

  min-height: 1000px;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
        
}

   .navbar {
  overflow: hidden;
  background-color: #333;
}
.form-group{
  font-size: 16px;
  color: black;
}
