<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="Sidebar.js"></script>
</head>
<body>
		<button type="button" class="log-btn"><a routerLink="/signin">Logout</a></button>
		<h1>Hey! Harsimran.</h1>
  <hr>
  <p style="margin-left: 45%; font-size: 20px;font-family: cooper black">Welcome Back</p>
<div id="sidebar">
	<!-- <div class="toggle-btn" onclick="toggleSidebar()">
		<span></span>
		<span></span>
		<span></span>
	</div> -->
	<ul class="list">
		<li><span class="logo">MoD</span></li>
        <li><button class="btn"><a routerLink="/userprofile">User Profile</a></button></li>
		<li><button class="btn"><a routerLink="/skills"> Skills</a></button></li>
		<li><button class="btn"><a routerLink="/technologys">Technology</a></button></li>
		<li><button class="btn"><a routerLink="/payments">Payment History</a></button></li>
	</ul>
</div>

</body>
</html>
