<html>
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" href="/admindashboard">Mentor On Demand</a>
  </div>
  <div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/add">Add User</a></li>
        <li><a href="/addmentor">Add Mentor</a></li>
        <li><a href="/addskill">Add Skills</a></li>
        <li><a href="/addtraining">Add Training</a></li>
        <li><a href="/addtechnology">Add Technology</a></li>
        <li><a href="/addpayment">Add Payment</a></li>


        
      </ul> 
              <ul class="nav navbar-nav navbar-right">
                 <li><a href=""><span class="glyphicon glyphicon-log-out"></span>Logout</a></li></ul>
              <form class="navbar-form navbar-right" action="SearchResults.html">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name="search">
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                  <i class="glyphicon glyphicon-search"></i>
                              </button>
                          </div>
                  </div>
          </form>
      </div>
      </div>
      </div>
    </nav>

<br>
<br>
<br>
    
        <div class="row">
              
    
          <div class="col-md-6" style="margin-left: 25%;margin-top: 5%;">
              <h2 class="text-center">Mentor SignUp</h2>
              <form>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" [(ngModel)]="mentor.email" placeholder="Email" name="email" class="form-control" id="email">
                </div>
              
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input [(ngModel)]="mentor.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
                </div>
              
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input [(ngModel)]="mentor.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
                </div>
              
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" [(ngModel)]="mentor.password" placeholder="password" name="password" class="form-control" id="password">
                </div>
              
                <div class="form-group">
                    <label for="contactNumber">Contact No:</label>
                    <input type="tel" [(ngModel)]="mentor.contactNumber" placeholder="Contact Number" name="contactNumber" class="form-control" id="contactNumber">
                </div>
              
                <div class="form-group">
                    <label for="regCode">Reg. Code</label>
                    <input type="text" [(ngModel)]="mentor.regCode" placeholder="Registration Code" name="regCode" class="form-control" id="regCode">
                </div>
              
                <div class="form-group">
                    <label for="role">Role</label>
                    <input type="text" [(ngModel)]="mentor.role" placeholder="Role " name="role" class="form-control" id="role">
                </div>
              
                <div class="form-group">
                    <label for="linkedinUrl">LinkedIn Url</label>
                    <input type="text" [(ngModel)]="mentor.linkedinUrl" placeholder="linkedinUrl " name="linkedinUrl" class="form-control" id="linkedinUrl">
                </div>
              
                <div class="form-group">
                    <label for="yearsofExperience">Years of Experience</label>
                    <input type="text" [(ngModel)]="mentor.yearsofExperience" placeholder="0,1,2 etc. " name="yearsofExperience" class="form-control" id="yearsofExperience">
                </div>
              
                <div class="form-group">
                  <label for="rating">Rating:</label>
                  <input type="text" [(ngModel)]="mentor.firstName" placeholder="Rating" name="rating" class="form-control" id="rating">
                </div>
              
                <div class="form-group">
                  <label for="timeZone">Time Zone:</label>
                  <input type="text" [(ngModel)]="mentor.timeZone" placeholder="Time Zone" name="timeZone" class="form-control" id="timeZone">
                </div>
              
                <div class="form-group">
                  <label for="mentorProfile">Mentor Profile:</label>
                  <input type="text" [(ngModel)]="mentor.mentorProfile" placeholder="Mentor Profile" name="mentorProfile" class="form-control" id="mentorProfile">
                </div>
                <button class="btn btn-success" (click)="createMentor()">SignUp</button>
              </form>
</div>

</div>
</body>
</html>




  
