<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body style="background-image: url(/assets/yellowmentor.png);min-height: 1000px;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>Mentor</b> On Demand</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#" class="w3-bar-item w3-button">Courses</a>
      <a href="#" class="w3-bar-item w3-button">Trainer</a>
      <a href="#" class="w3-bar-item w3-button">About Us</a>
      <a href="#" class="w3-bar-item w3-button">Contact</a>
      
<div class="w3-dropdown-hover">
  <button class="w3-button">Login</button>
  <div class="w3-dropdown-content w3-bar-block w3-border">
    <a href="/signin" class="w3-bar-item w3-button">User</a>
    <a href="/mentorlogin" class="w3-bar-item w3-button">Mentor</a>
    <a href="/adminlogin" class="w3-bar-item w3-button">Admin</a>
  </div>
</div>

    </div>

  </div>
</div>

<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" >
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">User SignUp</h3>

    <div class="container">

          <div class="row">     
      
            <div class="col-md-6">

<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" placeholder="Email" name="email" class="form-control" id="email">
  </div>

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input  placeholder="First Name" name="firstName" class="form-control" id="firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input  placeholder="Last name" name="lastName" class="form-control" id="lastName">
  </div>
    <div class="form-group">
    <label for="password">Password:</label>
    <input  placeholder="Enter Password" name="passWord" class="form-control" id="pwd">
  </div>
    <div class="form-group">
    <label for="repeatPassword">Repeat Password:</label>
    <input  placeholder="Repeat Password" name="repPassword" class="form-control" id="reppwd">
  </div>
    

  <button class="btn btn-success">Create</button>
    
</form>
</div>
</div>
</div>
</div>
</div>
</body>
</html>








